body {
}


/*----------------------------User Food Section------------------------------*/

/*.userFoodContainer {
    padding-left: 0px;
}*/

.userFoodForm{
    padding-left: 0px;
    padding-right: 0px;
}

.userFoodForm .form-control {
    max-width: 100%;
    margin-bottom: 10px;

}

.validationMsg{
    color: #a94442;
    font-size: 1em;
    float:left;
}

.required{
    color:red;
    font-weight: bold;
}

#addUnit{
    float:right;
    padding-right: 15px;
}

#addFoodUnit{    
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 2px;
    overflow: hidden;

}


#continueBtn {
    float: right;
}


#unitBtnContainer {
    margin: 4px 0px 15px 0px;
}


#createFoodBtn, #closeUnitBtn, #addUnitBtn {
    float: right;
}

#cancelBtnCreateFood {
    float: left;
    margin-right: 5px;
}

#backBtnCreateFood {
    float: right;
    margin-right: 5px;
}

#createFoodStep2{
    display: none;
}

#userFoodList {
    padding-right: 0px;
}


#headerAddUnit{
    margin: 3px 0px 0px 0px;
    padding-left: 0px;
}

#actionContainerAddUnit {
    
    margin-bottom: 20px;
}



.actionContainerMyFoods {
    text-align:right;
    
}


.closeBtnContainer {
    margin-top: 5px;
    text-align:right;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {


}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}
