body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootstrap overrides*/

.navbar-inverse {
    background-color: #00915C;
    border-color: #00915C;
}

.navbar-inverse .navbar-nav > li:hover{
    background-color: #007349;

}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, 
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    /*color: #EFFF5C;*/
    background-color: transparent;
}


.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #007349;

}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    /*color: #EFFF5C;*/
    background-color: #007349;
}

.form-control:focus {
    border-color: #00915C;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#tabs-1 > table {
    border: 0px;
}

 
/*JQuery-UI overrides--------------------------------------------------------------------------------------------------*/


#tabs {
    border: 0px;
}

.ui-widget-header {
    background-color: #fff;
    border: 0px;
    border-bottom: 1px solid #d3d3d3;
}


.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
    background-color: #eee;
}

.ui-tabs-tab.ui-corner-top.ui-state-active.ui-tab {
    background-color: #fff;
    border-color: #ddd;
    border-bottom: 0px;
    color: black;
}
.ui-tabs-tab.ui-corner-top.ui-state-active.ui-tab a {
    color: black;
}

#tabs li a:focus {
    outline: none;
}

#tabs-1 {
    padding-left: 7px;
    padding-right: 7px;
    
}

.ui-dialog-titlebar-close {
    color: black;
    outline: none;
}



/*Custom CSS-----------------------------------------------------------------------------------------------------------*/

#foodSearchDiv {
    margin-top: 30px;
    /*border: 1px solid red;*/
}

#foodSearchBox {
    /*margin-top: 1px;*/
    /*border: 3px solid #00915C;*/
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
   
}

#foodList {
    /*border: 1px solid red;*/


}

#foodSearchUL {
    list-style-type: none;
}

#foodSearchUL li {
    padding: 2px 0px 2px 10px;
}

#scoreInfoDiv, #calorieInfoDiv {
    min-height: 100px; 
}

#foodEditDiv {
    border: 1px solid red;
    position: fixed;
    z-index: 10;
    background-color: yellow;
}

#foodLogDialog { display: none; }



/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    /*Bootstrap override*/
    .navbar-inverse .navbar-nav .open .dropdown-menu {
            background-color: #00915C;

    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li:hover {
            background-color: #007349;

    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;

    }
.navbar-inverse .navbar-nav .open .dropdown-menu .divider,
.navbar-inverse .navbar-nav .open .dropdown-menu .divider:hover
 {
    background-color: transparent;
}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}
